apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    isDefault: true
    version: 1
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: "15s"

  - name: Elasticsearch
    type: elasticsearch
    access: proxy
    orgId: 1
    url: http://elasticsearch:9200
    database: "marketing-*"
    basicAuth: true
    basicAuthUser: elastic
    version: 1
    editable: true
    jsonData:
      esVersion: "8.11.0"
      timeField: "@timestamp"
      logMessageField: message
      logLevelField: level
    secureJsonData:
      basicAuthPassword: ${ELASTIC_PASSWORD}

  - name: Jaeger
    type: jaeger
    access: proxy
    orgId: 1
    url: http://jaeger:16686
    version: 1
    editable: true

  - name: PostgreSQL
    type: postgres
    access: proxy
    orgId: 1
    url: postgres:5432
    database: marketing_engine
    user: marketing
    version: 1
    editable: true
    jsonData:
      sslmode: 'disable'
      postgresVersion: 1600
      timescaledb: false
    secureJsonData:
      password: ${DB_PASSWORD}